
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}



form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 400px;
    width: 400px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color:  #272727;
}

.logo-img {
    height: 64px;
    align-self: center;
}

.input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input-container label {
    color: #f1f5f9;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

form input {
    color: #ffffff;
    display: block;
    width: 100%;
    height: 48px;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    border: 1.7px solid #475569;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-btn {
    display: block;
    width: 100%;
    height: 48px;
    margin-top: 30px;
    background-color: #6366f1;
    color: #ffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}