.header-container {
    width: 100%;
    background-color: #202020;
    padding: 5px 0;
    position: sticky;
    top: 0;
}

.logo-img {
    height: 36px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-links li {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing:1px;
}

.logout-btn {
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    background-color:  #6366f1;
    color: #fff;
    border: none;
    border-radius: 5px;
}